header {
    background-color: #f76605; 
    color: #ffffff; 
    padding: 1px 1px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }
  
  .logo-container img {
    width: 100px;
    height: 100px;
    display: inline-block ;
           
  }
    
  .nav-container {
    float: left;
  }
  
  .button-container {
    display: flex;
    align-items: center;
    margin-right: 50px;
        
  }
  
  .button-container button {
    background-color: #ffffff; 
    color: #ed4608; 
    border: 1px solid #ed4608;
    padding: 10px 10px;
    border-radius: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
            
  }
  
  .icon-book {
    display: inline-block;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
    content: "\f02d";
    margin-left: 500px;
            
  }
    
  @keyframes saltar {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }
  .button-container button:active {
    animation: saltar 0.2s ease-in-out;
  }
  
  :root {
    --color-titulo: #ed4608;
    --color-border-input: #000;
    --color-enlace: #070bf4;;
    --color-sombra: rgb(11, 10, 10);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.root {
    height: 100vh;
    min-height: 100vh;
    padding: 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    padding: 15px;
    box-shadow: 0 0 5px var(--color-sombra);
    border-radius: 3px;
    width: 100%;
    max-width: 450px;
    
}

.form__titulo {
    text-align: center;
    font-size: 36px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    line-height: 36px;
    margin-bottom: 24px;
    color: var(--color-titulo);
}

.form__label, .form__titulo, .form__btn {
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.form__label {
    margin-bottom: 6px;
}

.form__label, .form__recordarme, .form__enlace {
    display: inline-block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
.form__label, .form__enlace, .form__btn {
    font-weight: bold;
    font-size: large;
}

.form__input, .form__label {
    letter-spacing: 1.1px;
    ;
}

.form__input, .form__label, .form__recordarme, .form__enlace {
    font-size: 13px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 15px;
}

.form__input {
    padding: 6px;
    border: 1px solid var(--color-border-input);
    border-radius: 3px;
  }

.form__input, .form__btn {
    width: 100%;
}

.form__input, .form__recordarme, .form__enlace {
    margin-bottom: 12px;
}

.form__input:focus {
    outline: none;
    border-color: var(--color-titulo);
}

.form__recordarme, .form__btn {
    cursor: pointer;
}

.form__enlace {
    color: var(--color-enlace);
    font-weight: bold;
}

.form__btn {
    padding: 6px 0;
    border-radius: 2px;
    border: 2px solid transparent;
    background-color: var(--color-titulo);
    color: white;
}

.form__btn:hover {
    background-color: #fff;
    color: var(--color-titulo);
    border-color: var(--color-titulo);
}

.form__btn, .form__input {
    transition: all .2s linear;
}

@media screen and (min-width: 411px) {
    .form__opciones {
        display: flex;
        justify-content: space-between;
    }
}

  