* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color-titulo: #ed4608;
  --color-border-input: #000;
  --color-enlace: #070bf4;
  --color-sombra: rgb(11, 10, 10);
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #fff;
  min-height: 100vh;
}

.header {
  background-color: #f76605;
  color: #ffffff;
  padding: 1px 1px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.nav-derecha {
  clear: both;
}

.logo-container img {
  width: 100px;
  height: 100px;
  display: inline-block;
}

.logo-container {
  height: 100px;
  width: 30px;
}

.nav-container {
  display: flex;
  align-items: center;
}

.nav-container ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-container ul li {
  display: inline-block;
  margin: 0 10px;
}

.nav-container ul li a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
}

.button-container {
  display: flex;
  align-items: center;
  margin-right: 230px;
  margin-left: 1px;
  flex-basis: 150px;
}

.register-button-container {
  margin-right: 50px;
}

.login-button-container {
  margin-right: 20px;
}

.button-container button {
  background-color: #ffffff;
  color: #ed4608;
  border-radius: 3px;
  border: #ed4608;
  padding: 9px;
  transition: 0.3s ease-in-out;
  box-shadow: 0 0 0 0 #ffffff, 0 0 0 3px;
  border-radius: 5px;
  border: 1px solid #ffa500;
}

.button-container button:hover {
  box-shadow: 0 0 0 4px #ffa500;
}

.button-container button:active {
  box-shadow: 0 0 0 0 #ffffff, 0 0 0 3px #ffa500;
}

@media screen and (min-width: 411px) {
  .form__opciones {
    display: flex;
    justify-content: space-between;
  }
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal.active {
  display: block;
}

.modal-content {
  background-color: white;
  margin: 150px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 300px;
}

.modal-registro {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out;
}

.modal-registro.visible {
  opacity: 1;
  visibility: visible;
}

.modal-contenido {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  color: #ed4608;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 500px;
  font-size: 15px;
}

.modal-contenido h2 {
  margin-top: 0;
  margin-bottom: 10px;
  text-align: center;
}

.modal-contenido form {
  display: flex;
  flex-direction: column;
}

.modal-contenido input {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 5px;
}

.modal-contenido button {
  width: 100%;
  margin-top: 10px;
  padding: 10px 15px;
  border-radius: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  cursor: pointer;
}

.btn-cerrar {
  background-color: #ed4608;
  color: #fff;
  margin-left: 1px;
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}

:root {
  --color-titulo: #ed4608;
  --color-border-input: #000;
  --color-enlace: #070bf4;
  --color-sombra: rgb(200, 200, 200);
}

.root {
  height: 100vh;
  min-height: 100vh;
  padding: 0 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  padding: 15px;
  box-shadow: 0 0 10px var(--color-sombra);
  border-radius: 3px;
  width: 100%;
  max-width: 450px;
}

.form__titulo {
  text-align: center;
  font-size: 36px;
  line-height: 36px;
  margin-bottom: 24px;
  color: var(--color-titulo);
}

.form__label,
.form__titulo,
.form__btn {
  text-transform: uppercase;
}

.form__label {
  margin-bottom: 6px;
}

.form__label,
.form__enlace {
  display: inline-block;
}

.form__input,
.form__label,
.form__enlace,
.form__btn {
  font-weight: bold;
  font-size: 20px;
}

.form__input,
.form__label {
  letter-spacing: 1.1px;
  border-radius: 3px;
}

.form__input,
.form__label,
.form__recordarme,
.form__enlace {
  font-size: 13px;
  line-height: 15px;
}

.form__input {
  padding: 6px;
  border: 1px solid var(--color-border-input);
}

.form__input,
.form__btn {
  width: 100%;
}

.form__input,
.form__recordarme,
.form__enlace {
  margin-bottom: 12px;
}

.form__input:focus {
  outline: none;
  border-color: var(--color-titulo);
}

.form__recordarme,
.form__btn {
  cursor: pointer;
}

.form__enlace {
  color: var(--color-enlace);
  font-weight: bold;
}

.form__btn {
  padding: 6px 0;
  border-radius: 3px;
  border: 2px solid transparent;
  background-color: var(--color-titulo);
  color: white;
  font-size: 15px;
  
}

.form__btn:hover {
  background-color: #fff;
  color: var(--color-titulo);
  border-color: var(--color-titulo);
  
}

.form__btn,
.form__input {
  transition: all 0.2s linear;
}

.sink-button {
  transition: transform 0.3s ease;
}

.sink-button.clicked {
  transform: translateY(5px);
}

.modal .modal-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.modal .modal-close-button svg {
  position: absolute;
  width: 16px;
  height: 16px;
}





